:root {
    /* --logo-color1: #493D9E; */
    --logo-color1: #3f367e;
    --logo-color2: #C890A7;

    /* --logo-color1: #66608f; */
  }

body{
    background-color: white;
    /* background-color: black; */
}

/* Header */
nav{
    margin-left: 3%;
    /* background-color: black; */
}
.navColor{
    text-decoration: none;
    color: black;
    
}
.navColor:hover{
    color: grey;
}
.navColor:focus{
  color: var(--logo-color2);
  /* color: var(--logo-color1); */
}

.logoImg{
    height: 100px;
  }


/* Footer */
footer{
    padding-top: 2%;
    background-color: #111111;
    /* background-color: #F4FBF4; */
    background: linear-gradient(to right, black 10%, #9c9e9f 90% );
    /* background: linear-gradient(to right, #9c9e9f 10% , black 90%); */
    
}

.footerText{
    color: white;
    text-align: center;
}

.footerLink{
    text-decoration: none;
    color:white;
}
.footerLink:hover{
    text-decoration: none;
    color:#6C757D;
}
.socialsLink:hover{
    color: burlywood;

}

.footerDivider{
    color: white;
    width: 40%;
    margin: auto;
}


/* Index Page */

.hero{
    margin: 0 0 3% 0;
}

.carouselSize{
    /* height: 800px; */
}

.whatWeDO{
    margin: 5% 2%; 
}
.whatWeDOHeading{
margin-left: 5%;
color: var(--logo-color1);
}

.findTalentsDiv{
    width: max-content;
    /* margin: 8% auto 4% 50%; */
}

.findTalentCover{
    margin-top: 100px;
}

.findTalents{
    /* font-size:10rem; */
    font-size: 7vw;
    color: grey;
    line-height:0.7;
    /* line-height:6vw; */
}

.activities{
    margin: 3% 2%;
}
.homeImg{
    height: 400px;
}

.talents{
    padding: 5% 13%;
    /* margin-bottom: 10%; */
    margin: 0 3% 10% 3%;
    background-color: #9c9e9f;
    /* background-color: #B2A5FF; */
    /* background-color: #F1F1F1; */
}


.talentsImg{
    /* background-color: green; */
}

/* .talentsImg1{
    transform: rotate(3deg)
} */
/* .talentsImg2{
    transform: rotate(357deg)
} */
/* .talentsImg3{
    transform: rotate(2deg)
} */
/* .talentsImg4{
    transform: rotate(358deg)
} */
 .affirmations{
    margin: 5% 3% 10% 3%;
 }
 .affirmationsHeading{
    text-align: center;  
 }

 .circleShape{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
    background: linear-gradient(to right, black 10%, #9c9e9f 90% );
    margin: 0 auto 1% auto;
 }

 .rectangleShape{
    width: 50px;
    height: 10px;
    border-radius: 10%;
    background-color: #9c9e9f;
    background: linear-gradient(to right, black 10%, #9c9e9f 90% );
    /* background: linear-gradient(to right, #9c9e9f 10% , black 90%); */
    margin: 0 auto 1% auto;
 }


 /* Contact Us */

 .contactUs{
    margin: 0 2% 2% 2%;
 }

 .sendMessage{
    background-color: #F4FBF4;
    padding-top: 24px;
 }


 .description{
    background-color: #F4FBF4;
    /* padding-top: 1%; */
 }

 .statements{
    margin: 0 2%;
    /* padding-bottom: 3%; */
 }

 .aboutFounder{
    background-color: #F4FBF4;
 }

 .addressMap{
    /* height: 300px; */
    width: 100%;
 }


 /* About Us */

 .pageHeading{
    /* background-color: #493D9E; */
    /* background: linear-gradient(to right, black 10%, #9c9e9f 90% ); */
    /* background: linear-gradient(to right, #9c9e9f 10% , black 90%);  */
    background: linear-gradient(to right, #493D9E  10% , #C890A7 90%); 
    

    color: white;
 }

 .pageSubHeading{
    /* background-color: black; */
    background: linear-gradient(to right, black 10%, #9c9e9f 90% );
    /* background: linear-gradient(to right, #9c9e9f 10% , black 90%);  */
    color: white;
 }

/* FAQS */
/* .faqHeading{
    background-color: grey;
} */

.accordionBtn{
    font-size: 1.5rem;
    margin-top: 2%;
 }

 .accordion-button:not(.collapsed){
    color: var(--logo-color1) !important;
 }

 /* Talents */

.heroSide{
    background-color: var(--logo-color1);
    /* background: linear-gradient(to bottom, var(--logo-color1)  35% , var(--logo-color2) 65%);  */

    /* background: linear-gradient(to bottom, black 35%, #9c9e9f 65% ); */
    
    /* background: linear-gradient(to right, #493D9E  10% , #C890A7 90%);  */

}

.verticalText{
    writing-mode: vertical-lr;
    text-orientation: upright;
    /* text-align: center; */
    color: white;
    font-size: 3rem;    
    
    /* vertical-align:text-bottom; */
    
    /* display: block; */
    /* position: relative; */
    /* padding: auto; */
}

.letterSpacing{
    letter-spacing: 22px;
}

/* Talent Categories */

.talentCategories{
    margin: 0 3%;
}
.talentCategoriesHeading{
    margin: 5% 0 5% 0 ;
}


.categoryFonts{
    font-size: 1.5rem;
}
.cateroryNumber{
 /* font-size: 1.5rem; */
 font-weight: bold;
 /* margin-right: 3%; */
}

.talentCaterory{
    /* padding: auto; */
}

.categoryBtn{
    /* font-size: 1.5rem; */
    margin-left: 5%;
    background-color: var(--logo-color1) ;
    /* background-color: green;
    color: white; */
    
}
.talentImage{
    height: 500px;
}


.talentDiv {
    display: flex;
    justify-content: center;
    height: 100px;
    
}

.talentDP {
    display: flex;
    justify-content: center;
    height: 100px;
    /* padding-left: 3%; */
    background: linear-gradient(to bottom, white 50%, grey 50% );
  }
  
.imgChange{
    /* display: flex; */
    /* justify-content: center; */
    height: 100px;
    width: 100px;
}

.imgChangeDiv{
    display: flex;
    justify-content: end;
}

.talentFonts{
    font-size: 1.5rem;
}

.talentName {
    display: inline-block;
    align-self: flex-end;
    /* align-self: center; */
    /* font-weight: bold; */
    /* font-size: larger; */

  }

.talentBtn{
    display: inline-block;
    align-self: flex-end;
    /* align-self: center; */
}

/* Talen Profile */

.talentProfile{
    margin: 0 2%;
}

.navDivider{
    height: 100px; 
    /* background: linear-gradient(to right, black 10%, #9c9e9f 90% ); */
    background: linear-gradient(to right, var(--logo-color1)  10% , var(--logo-color2) 90%);
    color: white;
}

.dpDiv{
    background-color: grey;
    /* background-color: var(--logo-color1); */
}
.profileInfo{
    background-color: #9c9e9f;

    padding-left: 2%;
    /* padding-top: 2%; */
}

.detailsRule{
    width: 50px;
    border-width: 5px;
    color: var(--logo-color1);
    /* margin-left: 5%; */
}

.profileWriteUps{
    /* width: 60%;
    margin: 0 auto; */
    margin-left: 2%;
}

.infoTitle{
    font-weight: bold;
    font-size: 1.1rem;
    /* color: var(--logo-color1); */
    
}

.info{
    font-size: 1.2rem;
}
/* .textCenter{

    
} */
.aboutTalent{
    border: 1px solid;
}

.pageFont{
    background-color: var(--logo-color1) !important ;
}

.pageFont :hover{
    background-color: var(--logo-color1) !important ;
}

.currentPage {
    background-color: grey !important;
}


/* @media only screen and (min-width: 768px max-width: 992) { */

@media (min-width: 768px) and (max-width: 1120px) {
    .homeImg{
        height: 200px;
    }
    .talentDiscription{
        /* font-size: xx-small; */
        font-size: 0.5rem;
    }
    .talentImage{
        height: 350px;
    }.verticalText{
        font-size: 2rem;
    }.letterSpacing{
        letter-spacing: 15px;
    }
    .categoryFonts{
        font-size: 1rem;
    }
    .talentFonts{
        font-size: 0.9rem;
    }
    .pageFont{
        font-size: 0.7rem;
        background-color: var(--logo-color1) !important ;
    }

    .carouselSize{
        height: 400px;
    }

}

@media only screen and (max-width: 1400px) {
    .homeImg{
        height: 300px;
    }
    /* .talentImage{
        height: 400px;
    }.verticalText{
        font-size: 2.5rem;
    }.letterSpacing{
        letter-spacing: 16px;
    } */
}

@media only screen and (max-width: 768px) {
    .homeImg{
        height: 150px;
    }
    .talentDiscription{
        /* font-size: xx-small; */
        font-size: 0.3rem;
    }
    .talentImage{
        height: 200px;
    }.verticalText{
        font-size: 1rem;
    }.letterSpacing{
        letter-spacing: 10px;
    }

    .categoryFonts{
        font-size: 0.8rem;
    }

    .talentFonts{
        font-size: 0.7rem;
    }
    .pageFont{
        font-size: 0.65rem;
        background-color: var(--logo-color1) !important ;
    }


    .carouselSize{
        height: 300px;
    }


}