{% extends "base.html" %}
{% load static %}
{%block title%} Our Talents @DoinsX {%endblock title%}
{% block content%}

<section class="talentCategories">
        <div class="">
            <img class="img-fluid " src="{{category_img.url}}" alt="hero image">
        </div>

    <div class=" mb-5 talentCategoriesHeading">
        <h2 class="text-center ">Our Talent Categories</h2>
        <p class="text-center lh-1">THE TALENTS MANAGED BY US IS MAINLY DIVIDED INTO THESE GENRE OF TALENTS </p>
      </div>

      {% for talent in page_obj%}
        <div class="row ">
            <div class="col-4 px-0 talentDiv talentFonts">
            <span class="talentName my-auto text-uppercase">{{talent.first_name}} {{talent.last_name}}</span>
            </div>
            <div class="col-4  talentDiv">
            <img class="" src="{{talent.display_pic.url}}" alt="talent image">
            </div>
            <div class="col-4 talentDiv">
                <a class="btn btn-secondary categoryBtn talentBtn talentFonts  my-auto" href="{% url 'talent-profile' talent_id=talent.id %}">View Profile</a>
            </div>
        </div>
        <hr>
        {%endfor%}




        <div class="row talentFonts">
            <div class="col-4 px-0 talentDiv">
            <span class=" my-auto talentName text-uppercase ">Stanley Chidolue</span>
            </div>
            <div class="col-4  talentDiv">
            <img class="" src="{% static 'images/home/DP.jpg'%}" alt="">
            </div>
            <div class="col-4 talentDiv">
                <a class="btn btn-secondary my-auto categoryBtn talentBtn talentFonts " href="{ url 'talent-profile' name='music' %}">View Profile</a>
            </div>
        </div>
        <hr>

        <div class="row talentFonts">
            <div class="col-4 px-0 talentDiv">
            <span class=" my-auto talentName text-uppercase">Stanley Chidolue</span>
            </div>
            <div class="col-4  talentDiv">
            <img class="" src="{% static 'images/home/DP.jpg'%}" alt="">
            </div>
            <div class="col-4 talentDiv">
                <a class="btn btn-secondary my-auto categoryBtn talentBtn talentFonts " href="{ url 'talent-profile' name='music' %}">View Profile</a>
            </div>
        </div>
        <hr>



        
        <!-- Temporary code, to be replaced by actual pagination -->

        <div class="my-5" style="justify-content: center; display: flex;" >
        <div class="pages" >
        <span class="step-links  ">
            <a href=""><button type="button" class="directions btn btn-secondary pageFont "><i class="bi bi-chevron-left"></i></button></a>
            <a href=""><button type="button" class="btn btn-secondary  "> 1</button></a> 
  
            <a href=""><button type="button" class="btn btn-secondary pageFont"> 2</button></a>
            <a href=""><button type="button" class="btn btn-secondary pageFont"> 3</button></a>
            <a href=""><button type="button" class="directions btn btn-secondary pageFont"><i class="bi bi-chevron-right"></i></button></a>
        </span>
        </div>
        </div>

    

        <!-- {%if page_obj.0%}      
        <div class="pages my-5" style="justify-content: center; display: flex;">
          <span class="step-links">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="directions btn btn-secondary pageFont"><i class="bi bi-chevron-left"></i></button></a>
              <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-secondary pageFont"> {{page_obj.previous_page_number }}</button></a> 
              {% endif %}
    
              <a href="?page={{ page_obj.number }}"><button type="button" class="btn btn-secondary pageFont currentPage"> {{page_obj.number}}</button></a>
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-secondary pageFont"> {{page_obj.next_page_number }}</button></a>
              <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="directions btn btn-secondary pageFont"><i class="bi bi-chevron-right"></i></button></a>
              {% endif %}
          </span>
      </div>
      {%endif%}  -->


</section>

{% endblock content%}