{% extends "base.html" %}
{% load static %}
{%block title%} Talents Category @DoinsX {%endblock title%}
{% block content%}

<section class="talentCategories">
    <div class="row justify-content-center">
        <div class="col-2 d-flex heroSide letterSpacing">
            <h1 class="d-flex my-auto verticalText ">DOINSX</h1>
        </div>
        <div class="col-8">
            <!-- <img class="w-100 talentImage" src="{% static 'images/talent/1.jpg'%}" alt="hero image"> -->
             <h1 class="text-center horizontalText lh-1">Impossibility</h1>
             <h1 class="text-center horizontalText lh-1">is</h1>
             <h1 class="text-center horizontalText">Nothing</h1>
        </div>
        <div class="col-2 d-flex heroSide">
            <h1 class="d-flex my-auto verticalText">TALENTS</h1>
        </div>
    </div>


    <div class="mb-5 talentCategoriesHeading">
        <h2 class="text-center ">OUR TALENT CATEGORIES</h2>
        <p class="text-center lh-1">THE TALENTS MANAGED BY US IS MAINLY DIVIDED INTO THESE GENRE OF TALENTS </p>
      </div>


    <div class="row justify-content-center">
        <div class="col-md-10 col-12">
    {% for category in page_obj%}
    <div class="row categoryFonts" >
            <div class="col-8 my-auto">
                <!-- {{forloop.counter|stringformat:"s"|length|add:"-1"}} -->
            <span class="me-5 cateroryNumber">
                {%if forloop.counter|stringformat:"s"|length == 1 %}0{%endif%}{{forloop.counter}}
            </span>
            
            <span class=" talentCaterory">
                {{category.category_title}} Talents
            </span>
            </div>
        <div class="col-4 d-grid ">
            <a class="btn btn-secondary categoryBtn categoryFonts" href="{% url 'talents-page' category=category.category_title %}">View Talents</a>
        </div>
    </div>
        <hr>
        {%endfor%}





    <!-- <div class="row categoryFonts">
        <div class="col-8 my-auto">
        <span class="me-5 cateroryNumber">2</span><span class=" talentCaterory">Football Talents</span>
        </div>
        <div class="col-4 d-grid">
            <button class="btn btn-secondary categoryBtn categoryFonts">View Talents</button>
        </div>
    </div>
    <hr> -->

    <div class="row categoryFonts">
        <div class="col-8 my-auto">

        <span class="me-5 cateroryNumber">03</span><span class=" talentCaterory">Model Talents</span>
        </div>
        <div class="col-4 d-grid">
            <button class="btn btn-secondary categoryBtn categoryFonts">View Talents</button>
        </div>
    </div>
    <hr>

    <div class="row categoryFonts">
        <div class="col-8 my-auto">
        <span class="me-5 cateroryNumber">04</span><span class=" talentCaterory">Music Talents</span>
        </div>
        <div class="col-4 d-grid">
            <button class="btn btn-secondary categoryBtn categoryFonts">View Talents</button>
        </div>
    </div>
    <hr>
    <div class="row categoryFonts">
        <div class="col-8 my-auto">

        <span class="me-5 cateroryNumber">05</span><span class=" talentCaterory">Music Talents</span>
        </div>
        <div class="col-4 d-grid">
            <button class="btn btn-secondary categoryBtn categoryFonts">View Talents</button>
        </div>
    </div>
    <hr>

    </div>
        </div>




<!-- Temporary code, to be replaced by actual pagination -->

        <div class="pages my-5" style="justify-content: center; display: flex;">
        <span class="step-links ">
            <a href=""><button type="button" class="directions btn btn-secondary pageFont"><i class="bi bi-chevron-left"></i></button></a>
            <a href=""><button type="button" class="btn btn-secondary "> 1</button></a> 
  
            <a href=""><button type="button" class="btn btn-secondary pageFont"> 2</button></a>
            <a href=""><button type="button" class="btn btn-secondary pageFont"> 3</button></a>
            <a href=""><button type="button" class="directions btn btn-secondary pageFont"><i class="bi bi-chevron-right"></i></button></a>
        </span>
        </div>



        <!-- {%if page_obj.0%}      
        <div class="pages my-5" style="justify-content: center; display: flex;">
          <span class="step-links">
              {% if page_obj.has_previous %}
              <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="directions btn btn-secondary pageFont"><i class="bi bi-chevron-left"></i></button></a>
              <a href="?page={{ page_obj.previous_page_number }}"><button type="button" class="btn btn-secondary"> {{page_obj.previous_page_number }}</button></a> 
              {% endif %}
    
              <a href="?page={{ page_obj.number }}"><button type="button" class="btn btn-secondary pageFont"> {{page_obj.number}}</button></a>
              {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="btn btn-secondary pageFont"> {{page_obj.next_page_number }}</button></a>
              <a href="?page={{ page_obj.next_page_number }}"><button type="button" class="directions btn btn-secondary pageFont"><i class="bi bi-chevron-right"></i></button></a>
              {% endif %}
          </span>
      </div>
      {%endif%}  -->


    
</section>

{% endblock content%}