{% extends "base.html" %}
{% load static %}
{%block title%} Talents Category @DoinsX {%endblock title%}
{% block content%}

<section class="talentProfile">
    <div class="row navDivider">
        <div class="col-12 d-flex justify-content-center" style="display: flex; margin-top: auto; margin-bottom: auto;">
            <div>
        <h2 class="">Talent Managed By DoinsX</h2>
        </div>
    </div>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-md-1 col-2 me-2 px-0  dpDiv ">
            <div class="talentDP">
                <img class="" src="{{talent.display_pic.url}}" alt="">
            </div>
        </div>

        <div class="col-md-8 col-9  profileInfo">
            <h2 class=" mb-0 ">Details</h2>
            <hr class="mt-0 detailsRule" >
            <div class="row">
                <div class="col-6">
                    <div class="">
                        <h2 class="mb-0 infoTitle">First Name: </h2>
                        <span class="text-uppercase info">{{talent.first_name}}</span> 
                    </div>
                        <br>
                    <div class="">
                        <h2 class="mb-0 infoTitle"> Profession: </h2>
                        <span class="text-uppercase info">{{talent.profession}}</span> 
                    </div>
                        <br>
                    <div class="">
                        <h2 class="mb-0 infoTitle">Stage Name: </h2>
                        <span class="text-uppercase info">{{talent.stage_name}}</span> 
                    </div>
                    
                </div>
                <div class="col-6">
                    <div class="">
                        <h2 class="mb-0 infoTitle">Last Name: </h2>
                        <span class="text-uppercase info">{{talent.last_name}}</span> 
                    </div>
                        <br>
                    <div class="">
                        <h2 class=" mb-0 infoTitle">Gender: </h2>
                        <span class="text-uppercase info">{{talent.gender}}</span> 
                    </div>
                        <br>
                    <div class="">
                        <h2 class="mb-0 infoTitle">Height: </h2>
                        <span class="text-uppercase info">{{talent.height}}</span> 
                    </div>
                </div>
            </div>
        </div>
        

        </div>

        <div class="row justify-content-center">
        <div class="col-md-10 col-11 aboutTalen" >
            <br>
            <p class="infoTitle text-center text-uppercase">ABOUT {{talent.first_name}} <i class="fa-solid fa-down-long" style="color: var(--logo-color1);"></i> </p>
            <p class="">
                {{talent.about}}

                A short discription Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut 
                labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea 
                commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum
            </p>
        </div>
    </div>

    <br>
    <h3 class="whatWeDOHeading lh-1 mt-2">PICTURES OF <br><span class="whatWeDOSubHeading text-uppercase">&nbsp&nbsp {{talent.first_name}}</span></h3>
    <div class="row mb-5 justify-content-center"  >
        <div class="col-md-8 col-12 mb-md-0 mb-3">
            <img class="img-fluid float-end showImg" src="{{talent.image1.url}}" alt="">
        </div>


        {%if talent.image2 %}
        <div class="col-md-4 col-12 mt-4   mt-auto">
        <div class="imgChangeDiv float-start">
            <img class="me-2   imgChange" src="{{talent.image1.url}}" alt="{{talent.first_name}}'s first img">
            <img class="me-2 img-fluid imgChange" src="{{talent.image2.url}}" alt="{{talent.first_name}}'s second img">
        {%endif%}
        {%if talent.image3 %}   
            <img class="me-2 img-fluid imgChange" src="{{talent.image3.url}}" alt="{{talent.first_name}}'s third img">
        {%endif%}
        </div>
        </div>

    </div>
    

    

</section>

{% endblock content%}