{% extends "base.html" %}
{% load static %}
{%block title%} Our Talents @DoinsX {%endblock title%}
{% block content%}

<section class="talentCategories">
    
    <div class="row justify-content-center">
        <div class="col-2 bg-dark heroSide">
            <h1 class="verticalText">DOINX</h1>
        </div>
        <div class="col-8">
            <img class="w-100 talentImage" src="{% static 'images/talent/1.jpg'%}" alt="hero image">
        </div>
        <div class="col-2 heroSide">
            <h1 class="verticalText">TALENTS</h1>
        </div>
    </div>


    <div class="talentCategoriesHeading">
        <h2 class="text-center">FREQUENTLY ASKED QUESTIONS</h2>
        <p class="text-center">WE TOOK TIME TO ANSWEWR FEW OF SOME OF THE IMPORTANT QUESTIONS FREQUENTLY ASKED BY CUSTOMER</p>
    </div>


        <div class="row">
            <div class="col-4 talentDiv">
            <span class="me-5 talentName">Stanley Chidolue</span>
            </div>
            <div class="col-4  talentDiv">
            <img class="" src="{% static 'images/home/DP.jpg'%}" alt="">
            </div>
            <div class="col-4 talentDiv">
                <a class="btn btn-success categoryBtn talentBtn" href="{% url 'talent-profile' talent_name='stan chidolue is' %}">View Profile</a>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-4 talentDiv">
            <span class="me-5 talentName">Stanley Chidolue</span>
            </div>
            <div class="col-4  talentDiv">
            <img class="" src="{% static 'images/home/DP.jpg'%}" alt="">
            </div>
            <div class="col-4 talentDiv">
                <a class="btn btn-success categoryBtn talentBtn" href="{ url 'talent-profile' name='music' %}">View Profile</a>
            </div>
        </div>
        <hr>

        <div class="row">
            <div class="col-4 talentDiv">
            <span class="me-5 talentName">Stanley Chidolue</span>
            </div>
            <div class="col-4  talentDiv">
            <img class="" src="{% static 'images/home/DP.jpg'%}" alt="">
            </div>
            <div class="col-4 talentDiv">
                <a class="btn btn-success categoryBtn talentBtn" href="{ url 'talent-profile' name='music' %}">View Profile</a>
            </div>
        </div>
        <hr>

        
    


</section>

{% endblock content%}