{% extends "base.html" %}
{%block title%} Frequently asked Questions {%endblock title%}

{% block content%}
    <section id="FAQs">
        <div class="faqHeading">
          <h2 class="text-center">FREQUENTLY ASKED QUESTIONS</h2>
          <p class="text-center">WE TOOK TIME TO ANSWER SOME IMPORTANT QUESTIONS FREQUENTLY ASKED BY CUSTOMERS</p>
        </div>
        <div class="row justify-content-center mb-5 mt-4">
            <div class="col-md-8 col-12 ">
            <div class="accordion accordion-flush" id="accordionFlushExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                    What is DoinsX Talent Management Company?
                </button>
                </h2>
                <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">DoinsX Talent Management Company is a talent development and management firm dedicated to helping young Nigerian talents harness their potential and create a sustainable livelihood from their skills in sports, music, modeling, art, fashion, and other creative fields.
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                    What services does DoinsX offer to talents?
                </button>
                </h2>
                <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We provide talent development, branding, career management, mentorship, strategic partnerships, and exposure opportunities for young talents to thrive in their industries.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseNine" aria-expanded="false" aria-controls="flush-collapseOne">
                    Which types of talents do you manage?
                </button>
                </h2>
                <div id="flush-collapseNine" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We manage talented individuals in various creative and professional fields, including football, music, modeling, DJing, art, fashion design, and other talent-driven careers.
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                    How can I become a part of DoinsX Talent Management?
                </button>
                </h2>
                <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">To join DoinsX, you can submit an application through our official channels, showcasing your talent and passion. Our team will review your submission and reach out if you meet our selection criteria.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFour" aria-expanded="false" aria-controls="flush-collapseThree">
                    Do you charge talents to be managed by DoinsX?
                </button>
                </h2>
                <div id="flush-collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">we do not charge upfront fees for talent management. However, our partnership model ensures that we invest in you, and in return, we earn from agreed revenue streams as your career grows.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseFive" aria-expanded="false" aria-controls="flush-collapseThree">
                    Will I get sponsorships or endorsements under DoinsX?
                </button>
                </h2>
                <div id="flush-collapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Yes, our goal is to position you for brand partnerships, sponsorships, and endorsement deals based on your talent, consistency, and marketability.
                </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSix" aria-expanded="false" aria-controls="flush-collapseThree">
                    How does DoinsX help young talents grow?
                </button>
                </h2>
                <div id="flush-collapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">We provide structured branding, social media strategy, skill development, networking opportunities, and financial guidance to ensure that our talents build sustainable careers.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTen" aria-expanded="false" aria-controls="flush-collapseThree">
                    Does DoinsX offer training programs for talents?
                </button>
                </h2>
                <div id="flush-collapseTen" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Yes, we organize training sessions, workshops, and mentorship programs to help our talents sharpen their skills and navigate their respective industries successfully.</div>
                </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseSeven" aria-expanded="false" aria-controls="flush-collapseThree">
                    Can brands or organizations collaborate with DoinsX?
                </button>
                </h2>
                <div id="flush-collapseSeven" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">Absolutely! We welcome partnerships, sponsorships, and collaborations with brands and organizations that align with our mission of empowering young Nigerian talents.</div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button collapsed accordionBtn" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseEight" aria-expanded="false" aria-controls="flush-collapseThree">
                    How can I contact DoinsX Talent Management Company?
                </button>
                </h2>
                <div id="flush-collapseEight" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                <div class="accordion-body">You can reach us through our official website, email, or social media handles. We are always open to inquiries from talents, brands, and supporters.</div>
                </div>
            </div>
        </div>
    </div>
</div>    
  </section>

{% endblock content%}