<!-- #493D9E #FCC6FF -->
{% extends "base.html" %}
{%block title%} Home @DoinsX {%endblock title%}
<body>
{% block content%}
<section class="hero">
    {% if messages %}
        {% for message in messages%}
          <div class="alert alert-{{message.tags}}">
            <p class="text-center">{{message}}</p>
          </div>
        {% endfor %}
        {% endif %}

    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner ">
            {%for advert in adverts%}
            {%if advert == adverts.first%}
          <div class="carousel-item active" data-bs-interval="5000">
            <img src="{{advert.image.url}}" class="d-block w-100 carouselSize" alt="carousel image">
          </div>
          {%else%}
          <div class="carousel-item" data-bs-interval="5000">
            <img src="{{advert.image.url}}" class="d-block w-100 carouselSize" alt="carousel image">
          </div>
          {%endif%}
          <!-- <div class="carousel-item" data-bs-interval="5000">
            <img src="static/images/home/1.png" class="d-block w-100 carouselSize" alt="carousel image">
          </div> -->
          {%endfor%}
        </div>
        <!-- <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev"> -->
          <!-- <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span> -->
          <!-- <i class="bi bi-arrow-right-circle-fill" style="color: #5fcf80; font-size: 4rem;"></i> -->
          <!-- <i class="bi bi-arrow-left-circle-fill" style="color: #5fcf80; font-size: 5vw;"></i> -->
        <!-- </button> -->
        <!-- <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> -->
          <!-- <span class="carousel-control-next-icon" style="color: #5fcf80 !important; font-size: 10rem;" aria-hidden="true"></span> -->
          <!-- <span class="visually-hidden">Next</span> -->
          <!-- <i class="bi bi-arrow-right-circle-fill" style="color: #5fcf80; font-size: 5vw;"></i> -->
        <!-- </button> -->
      </div>
    
    
    <!-- <div class="">
        <img class="w-100" src="static/images/home/1.png" alt="hero image">
    </div> -->
</section>

<section class="whatWeDO">
    <!-- <h3 class="whatWeDOHeading lh-1">WHAT <br><span class="">&nbsp&nbsp&nbsp WE DO</span></h3> -->
     <!-- <h1 class=" text-center whatWeDOHeading reveal1"> WHAT WE DO</h1> -->
      
     <div class="row justify-content-center  findTalentCover">
        <div class="col-6 px-0 d-flex justify-content-end" style="display: flex; margin-top: auto; margin-bottom: auto;">
     <div class="findTalentsDiv ">
     <p class="findTalents">FIND TALENTS</p>
     <p class="findTalents">&nbsp&nbsp&nbsp FOR <span style="color: var(--logo-color1);">YOUR</span></p>
     <p class="findTalents">PROJECTS</p>
    </div>
    
    </div>
    <div class="col-6">
    <img class="mx-auto d-block img-fluid" src="static/images/home/6a.png" alt="">       
    </div>
    </div>


    <div class="row justify-content-center">
        <div class="col-10">
            <!-- <img class="" src="static/images/home/6a.png" alt="">
            <p>We Manage Talents ranging from music to arts, sports, and other creative industries, we are committed to helping our 
            clients build sustainable careers while redefining what it means to succeed. With a team of 
            seasoned professionals and a vision to elevate Nigeria’s creative and entertainment industries
        </p> -->
            <!-- <img class="w-100" src="static/images/home/2a.png" alt="hero image"> -->
             <!-- <p class="fs-3">
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu ped
             </p> -->
        </div>
        
    </div>
</section>

<section class="activities">
    <div class="row justify-content-center">
        <div class="col-6 ps-1 pe-1 ">
            <img class="w-100 homeImg reveal1" src="static/images/home/3.jpg" alt="hero image">
        </div>
        <div class="col-3 ps-1 pe-1">
            <img class="w-100 homeImg " src="static/images/home/4aa.jpg" alt="hero image">
        </div>
        <div class="col-3 ps-1 pe-1">
            <img class="w-100 homeImg reveal3" src="static/images/home/5.jpg" alt="hero image">
        </div>
    </div>
</section>

<section class="affirmations ms-md-5 me-md-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="rectangleShape"></div>
            <h4 class="affirmationsHeading"> Our Success and Performance Speaks <br>The Loudest</h4>
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't 
            </p>
        </div>
    </div>
    <br>
    <div class="row justify-content-center">
        <div class="col-md-4 col-6 ps-0">
            <div class="circleShape"></div>
            <h6 class="affirmationsHeading"> Our Success and Performance The Loudes</h4>
            <p class="small text-center">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
            </p>
        </div>
        <div class="col-md-4 col-6 ps-0">
            <div class="circleShape"></div>
            <h6 class="affirmationsHeading"> Our Success and Performance Speaks The Loudes</h4>
            <p class="small text-center">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
            </p>
        </div>
        <!-- <div class="col-md-4 col-6">
            <div class="circleShape"></div>
            <h6 class="affirmationsHeading"> Our Success and Performance Speaks The Loudes</h4>
            <p class="small text-center">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
            </p>
        </div> -->
        
    </div>
</section>

<section class="group mb-5 mx-3 reveal1">
        <img class="w-100 " src="static/images/home/group.jpg" alt="">
        <p class="text-center">
            FIFA Nigerian Tour 2023
        </p>
</section>

<section class="talents">
    <div class="row talentDiscription">

        {%for talent in talents%}
        <div class="col-3 ps-1 pe-1">
            <div class="talentsImg">
            <img class="w-100 talentsImg1" src="{{talent.display_pic.url}}" alt="hero image">
            </div>
            <div class="">
            <p class="mb-0 text-uppercase"><span class="">{{talent.first_name}} {{talent.last_name}}</span></p>
            <p class="mb-0 text-capitalize"><span> {{talent.profession}}</span></p>
            <p class="mb-0 text-capitalize"> <span> {{talent.gender}} </span></p>
            </div>
        </div>
        {%endfor%}


        <div class="col-3 ps-1 pe-1">
            <img class="w-100   talentsImg4" src="static/images/home/DP.jpg" alt="hero image">
            <p class="mb-0 text-uppercase"><span> Jennifer Ozor</span></p>
            <p class="mb-0 text-capitalize"><span> Model</span></p>
            <p class="mb-0 text-capitalize"><span> FEMALE</span></p>
        </div>

    </div>
    <div  class="d-flex justify-content-center mt-2 ">
    <a href="{% url 'talent-categories'%}" anim="pulse" class="btn btn-secondary btn-sm ms-0 talentDiscription" type="button">VIEW TALENTS</a>
    </div>
</div>
  

</section>

{% endblock content%}
</body>


