
{% extends "base.html" %}
{%block title%} Home @DoinsX {%endblock title%}
<body>
{% block content%}
<section class="hero">
    
    <div class="">
        <img class="w-100" src="static/images/home/1.png" alt="hero image">
    </div>
</section>

<section class="whatWeDO">
    <h3 class="whatWeDOHeading lh-1">WHAT <br><span class="">&nbsp&nbsp&nbsp WE DO</span></h3>
    <div class="row justify-content-center">
        <div class="col-10">
            <!-- <p>We Manage Talents ranging from music to arts, sports, and other creative industries, we are committed to helping our 
            clients build sustainable careers while redefining what it means to succeed. With a team of 
            seasoned professionals and a vision to elevate Nigeria’s creative and entertainment industries
        </p> -->
            <img class="w-100" src="static/images/home/2a.png" alt="hero image">
        </div>
        
    </div>
</section>

<section class="activities">
    <div class="row justify-content-center">
        <div class="col-6 ps-1 pe-1">
            <img class="w-100 homeImg" src="static/images/home/3.jpg" alt="hero image">
        </div>
        <div class="col-3 ps-1 pe-1">
            <img class="w-100 homeImg" src="static/images/home/4aa.jpg" alt="hero image">
        </div>
        <div class="col-3 ps-1 pe-1">
            <img class="w-100 homeImg" src="static/images/home/5.jpg" alt="hero image">
        </div>
    </div>
</section>

<section class="affirmations ms-md-5 me-md-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="rectangleShape"></div>
            <h4 class="affirmationsHeading"> Our Success and Performance Speaks <br>The Loudest</h4>
            <p>
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
                alteration in some form, by injected humour, or randomised words which don't look even slightly
                 believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't 
            </p>
        </div>
    </div>
    <br><br>
    <div class="row justify-content-center">
        <div class="col-md-4 col-6">
            <div class="circleShape"></div>
            <h6 class="affirmationsHeading"> Our Success and Performance The Loudes</h4>
            <p class="small text-center">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
            </p>
        </div>
        <div class="col-md-4 col-6">
            <div class="circleShape"></div>
            <h6 class="affirmationsHeading"> Our Success and Performance Speaks The Loudes</h4>
            <p class="small text-center">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
            </p>
        </div>
        <!-- <div class="col-md-4 col-6">
            <div class="circleShape"></div>
            <h6 class="affirmationsHeading"> Our Success and Performance Speaks The Loudes</h4>
            <p class="small text-center">
                There are many variations of passages of Lorem Ipsum available, but the majority have suffered 
            </p>
        </div> -->
    </div>
</section>

<section class="talents">
    <div class="row talentDiscription">
        <div class="col-3 ps-1 pe-1">
            <div class="talentsImg">
            <img class="w-100 talentsImg1" src="static/images/home/DP.jpg" alt="hero image">
            </div>
            <div class="">
            <p class="mb-0 text-uppercase"><span class=""> Stanley Chidolue</span></p>
            <p class="mb-0 text-capitalize"><span> Programmer</span></p>
            <p class="mb-0 text-capitalize"> <span> nigeria</span></p>
            </div>
            
        </div>
        <div class="col-3 ps-1 pe-1">
            <img class="w-100 talentsImg2" src="static/images/home/DP.jpg" alt="hero image">
            <p class="mb-0 text-uppercase"><span> Chidera Orji</span></p>
            <p class="mb-0 text-capitalize"><span> Footballer </span></p>
            <p class="mb-0 text-capitalize"><span> Nigerian</span></p>
        </div>
        <div class="col-3 ps-1 pe-1">
            <img class="w-100  talentsImg3" src="static/images/home/DP.jpg" alt="hero image">
            <p class="mb-0 text-uppercase"><span> Somtochukwu DoinsX</span></p>
            <p class="mb-0 text-capitalize"><span> Muscian</span></p>
            <p class="mb-0 text-capitalize"> <span> Ghana</span></p>
        </div>
        <div class="col-3 ps-1 pe-1">
            <img class="w-100   talentsImg4" src="static/images/home/DP.jpg" alt="hero image">
            <p class="mb-0 text-uppercase"><span> Jennifer Ozor</span></p>
            <p class="mb-0 text-capitalize"><span> Model</span></p>
            <p class="mb-0 text-capitalize"><span> Nigeria</span></p>
        </div>
    </div>
</section>

{% endblock content%}
</body>


